<!DOCTYPE html>
<html>
<head>
	<title>directive</title>
</head>
<body ng-controller="firstController">
	<!-- <div style="border: 2px solid" simple-directive a="{{i}}" ng-repeat="i in [1,2,3,4,5]">
		{{i}}
	</div> -->
	<div  simple-directive a="{{i}}" ng-repeat="i in [1,2,3,4,5]">
		{{i}}
	</div>

	<script type="text/javascript" src="/lib/angular/angular.min.js"></script>
	<script type="text/javascript">
		angular.module('firstModule',[])
		.controller('firstController',[function(){
			console.log("controller");
		}])
		.config(function(){
		//console.log('config');
	})
		.run(function(){
		//console.log('run');
	})
		.directive('simpleDirective', function($interpolate){
			return function(scope, ielement, iattr){
				console.log("post  ",iattr.a);
				if(iattr.a == 3){
					ielement.css('border','1px solid red');
				}
			}
		})
		angular.bootstrap(document.documentElement,['firstModule']);
	</script>
</body>
</html>