<div ng-controller="tableDataSortController">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th ng-click="sort('name')">NAME</th>
            <th  ng-click="sort('id')">ID</th>
            <th ng-click="sort('location')">LOCATION</th>
        </tr>
        </thead>

        <tbody ng-repeat="row in tableData  | orderBy :reverse">
        <tr ng-if="row.id == 2" class="danger">
            <td >{{row.name}}</td>
            <td>{{row.id}}</td>
            <td>{{row.location}}</td>
        </tr>
        <tr ng-if="row.id != 2" class="active">
            <td>{{row.name}}</td>
            <td ng-if="row.id != 2" >{{row.id}}</td>
            <td>{{row.location}}</td>
        </tr>
        </tbody>
    </table>

</div>