<div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th  ng-repeat="a in tableHeader" ng-click="sort('a')">{{a}}</th>
        </tr>
        </thead>
        <tbody ng-repeat="row in tableData1 ">
        <tr ng-if="row.age < 50" class="danger">
            <td >{{row.name}}</td>
            <td>{{row.id}}</td>
            <td>{{row.age}}</td>
            <td>{{row.location}}</td>
        </tr>
        <tr ng-if="row.age >= 50" class="active">
            <td>{{row.name}}</td>
            <td>{{row.id}}</td>
            <td>{{row.age}}</td>
            <td>{{row.location}}</td>
        </tr>
        </tbody>

    </table>
</div>

